In [1]:
import pandas as pd
import sweetviz as sv

In [4]:
# bad lines を経国だけ表示
df = pd.read_csv("./example/baddata.csv", on_bad_lines='warn')
df

Skipping line 3: expected 3 fields, saw 11

   index    name  value
0      1    Taro    100
1      2  Hanako    200

In [5]:
report = sv.analyze(df)
report.show_html("baddata.html")

                                             |          | [  0%]   00:00 -> (? left)

/Users/s_manyama/anaconda3/lib/python3.11/site-packages/sweetviz/graph_associations.py:448: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  corr = pd.melt(correlation_dataframe.reset_index(), id_vars=UNIQUE_INDEX_NAME)

Report baddata.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.